html * {
  font-family: Helvetica, Arial, sans-serif;
}


#cartdiv {
  width: 66%;
  margin: auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* border: 1px solid; */
  padding: 5px;
  margin-top: 10px;
}
#ordercarddiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
}
#orderleftdiv {
  width: 68%;
  /* height: 80vh; */
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#cerditcard {
  border: 1px solid rgb(200, 197, 197);
  border-radius: 5px;
  padding: 0 15px;
}
#cerditcard > h3 {
  font-size: 17px;
}
#icon {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 30px;
  margin: 0;
  padding: 0;
  align-items: center;
  padding-top: -10px;
  margin-top: -6px;
}
#icon > #i {
  width: 7%;
  font-size: 20px;
  padding-left: 5px;
}
#icon > #h4 {
  width: 70%;
  font-size: 17px;
}
#icon > #h4 > h4 {
  font-weight: 100;
}
#icon > #btn {
  padding-left: 20px;
}
#icon > #btn > button {
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: white;
  height: 30px;
  width: 100px;
  padding: 5px;
  font-weight: 600;
  font-size: 12px;
}
#icon > #btn > button:hover {
  border: 2px solid grey;
  color: grey;
}
#cerditcard > h5 {
  color: grey;
  font-size: 13px;
  margin: 14px 0;
}
#displayProduct {
  /* border: 1px solid; */
  border-radius: 5px;
  background-color: #f6f6f8;
  padding: 0 10px;
}
#displayProduct > #header1 > h3 {
  margin: 10px 0;
}
#displayCartProduct {
  /* height: 200px; */
  /* border: 1px solid; */
  border-radius: 5px;
  background-color: white;
  padding: 15px;
}
#displayCartProduct > .icon {
    display: flex;
    flex-direction: row;
    gap: 5px;
    height: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
   
}
.icon > .i {
    /* border: 1px solid; */
    width: 7%;
    font-size: 20px;
    padding-left: 5px;
}
.icon > .line {
  /* width: 80%; */
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 0px;
  height: 35px;
  padding-top: 0;
}
.icon >.line > p {
    margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 100;
  font-size: 17px;
}

#box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 15px;
}
#box>#div1 , #box>#div2 {
  width: 50%;
  border: 1px solid rgb(200, 197, 197);
  /* height: 80px; */
  /* padding-top: -5px; */
  padding: -5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#box>#div1>.first , #box>#div2>.first {
  margin-top: 10px;
 margin-bottom: -10px;
}
#box>#div1>.second , #box>#div2>.second {
 font-size: 15px;
 margin-bottom: 10px;
}

#cartItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0px;
}
#cartItem .hr {
  border: 1px solid rgb(245, 241, 241);
}
#cartItem>h3 {
  font-size: 17px;
}
#cartItem>.gotoproduct {
  width: 35%;
  margin: auto;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 20px;
}
#cartItem>.gotoproduct:hover {
  background-color: rgb(100, 99, 99);
  border: none;
}
#cartItem>#main-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: -10px;
}
#main-container>.image-div {
  width: 20%;
}
#main-container>.image-div>img {
  width: 100%;
}
#main-container>.detail-div {
  width: 80%;
  display:  flex;
  flex-direction: column;
  gap: 5px;
  margin-top: -14px;
}
#main-container>.detail-div>.company-name-price{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
  margin-bottom: -5px;
  cursor: pointer;
}
.company-name-price>.brandname:hover{
  text-decoration: underline;
}
.desp-div>.p1:hover {
  text-decoration: underline;
}
#main-container .desp-div {
  display: flex;
  flex-direction: column;
}
#main-container .desp-div>p {
  margin-top: -12px;
}
.desp-div>p~p {
  color: grey;
  font-size: 14px;
}
.desp-div>#p{
  color: black;
}

#quan-method-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: -10px;
}

#qmr-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 15px;
}

#qmr-div select { 
  height: 35px;
  width: 45px;
  border-radius: 5px;
  padding-left: 8px;
  font-size: 15px;
}

#qmr-div>.remove-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  gap: 5px;
}
#qmr-div>.remove-div>p {
  color: rgb(174, 172, 172);
}
.remove-div>a {
  font-size: 14px;
  color: rgb(67, 67, 250);
  cursor: pointer;
}
.remove-div>a:hover {
  text-decoration: underline;
}

#quan-method-div .btnmethod {
  height: 25px;
  border-radius: 20px;
  background-color: white;
  font-size: 12px;
  width: 110px;
  border: 1px solid rgb(60, 60, 60);
  cursor: pointer;
}
#quan-method-div .btnmethod:hover {
  border: 1px solid rgb(207, 205, 205);
}



#displayProduct > #header2 > h3 {
  margin: 10px 0;
}
#displayCheapProduct {
  height: 200px;
  /* border: 1px solid; */
  border-radius: 5px;
  background-color: white;
  margin-bottom: 10px;
}
#bestsellar {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
}
#bestsellar > #header3 > h1 {
  font-weight: 300;
  font-size: 28px;
}
#bestsellar > #best {
  height: 200px;
  /* border: 1px solid; */
  border-radius: 5px;
  border: 1px solid;
  background-color: white;
}
#yourloves {
  display: flex;
  flex-direction: column;
}
#yourloves > #header4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 35px;
}
#yourloves > #header4 > h1 {
  font-weight: 300;
  font-size: 28px;
}
#yourloves > #header4 > a {
  color: black;
  text-decoration: none;
  font-weight: 300;
}
#yourloves > #loves {
  height: 200px;
  /* border: 1px solid; */
  border-radius: 5px;
  border: 1px solid;
}

#orderrightdiv {
  width: 32%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
#payment {
  background-color: #ffffff;
  padding: 0 10px;
  border: 1px solid rgb(200, 197, 197);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
#payment > div {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 12px;
  margin-bottom: -20px;
}
.font {
  font-weight: 100;
  font-size: 15px;
}
#red {
  margin-top: -10px;
}
#red > h3 {
  /* color: #cf112c ; */
  font-size: 20px;
}
#payment #ship {
  width: 95%;
  margin: auto;
  height: 45px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: #cf112c;
  color: white;
  font-size: 14px;
  padding: 10px 0;
  margin-bottom: 15px;
  font-weight: 600;
}
#payment #ship:hover {
  background-color: #ea1434;
}
#payment #paypal {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
  height: 45px;
  border: 2px solid black;
  border-radius: 25px;
  cursor: pointer;
  color: black;
  font-size: 14px;
  padding: 10px;
  padding-top: -5px;
  margin-bottom: 15px;
  font-weight: 600;
  background-color: white;
}
#paypal > img {
  width: 30%;
}
hr {
  margin-top: 20px;
  border: 1px solid rgb(200, 197, 197);
  width: 100%;
}
#payment > h5 {
  font-size: small;
  color: grey;
  font-weight: 300;
  margin-top: 10px;
}
#promo {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid rgb(200, 197, 197);
  border-radius: 5px;
}
#promo > h5 {
  font-weight: 100;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 5px;
}
#input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#promo > #input > input {
  height: 40px;
  padding-left: 10px;
  font-size: 12px;
  border: 1px solid rgb(200, 197, 197);
  width: 65%;
}
#input > button {
  width: 30%;
  background-color: black;
  color: white;
  border-radius: 25px;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
}
#input > button:hover {
  background-color: rgb(100, 99, 99);
  border: none;
}
