#container {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: left;
}

#category-leftdiv {
  width: 13%;
}

#dropContainer #container-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#container-body{
  display: none;
}

#category-rightdiv #bottom {
  display: flex;
  margin-left: 2%;
}

#category-rightdiv #top {
  display: flex;
  justify-content: space-between;
  margin-right: -15%;
}

select {
  border: none;
  background: transparent;
}

select option {
  border: none;
}

#prod-box {
  padding: 2% 2%;
}

#prod-box h5 {
  font-size: 12px;
  margin-bottom: 0px;
}
#prod-box p {
  font-size: 14px;
  margin: 6px 0px;
}
#prod-box h4 {
  font-size: 16px;
  margin: 10px 0px;
}

.image-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 83%;
  left: 0;
  width: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Set the opacity to 0.5 to create a semi-transparent black overlay */
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 5px;
  text-align: center;
  color: white;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#heart-overlay {
  position: absolute;
  left: 90%;
  border-radius: 50%;
}

.image-container:hover .overlay {
  opacity: 1;
}

.overlay:hover {
  background-color: rgba(58, 58, 58, 0.5);
  opacity: 0.5;
}
